{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Home {% endblock %}

{% block body %}
<div class="col-md-10 offset-md-3">
    {{parent()}}
    <div class="example-wrapper">
        <h1>{{ controller_name }}</h1>
    </div>

    {% for producto in pagination %}
    <img src="{{asset('uploads/imagenesProductos/'~producto.imagen)}}" class="rounded float-left" alt="..." width="160px" >

    <div class="card col-md-5" style="width: 40rem;">

        <div class="card-body">
            <h5 class="card-title font-weight-bold">Especie: {{ producto.especie }}</h5>
            <div class="float-left">
                <p class="card-text font-weight-bold">Piel: {{ producto.piel }}</p>
                <p class="card-text font-weight-bold">Sexo: {{ producto.sexo }}</p>
                <p class="card-text font-weight-bold">Raza: {{ producto.raza }}</p>
            </div>
            
            <div class="float-right">
                <p class="card-text font-weight-bold">Peso: {{ producto.peso }}</p>
                <p class="card-text font-weight-bold">Edad: {{ producto.edad }}</p>
                <p class="card-text font-weight-bold">Precio: ${{ producto.precio }}</p>
                <a href="#" class="btn btn-primary">Agregrar al carrito</a>
            </div>

            

        </div>
    </div>
    {% endfor %} 
    {# display navigation #}
    <div class="navigation offset-md-3">
        {{ knp_pagination_render(pagination) }}
    </div>  
</div> 

{% endblock %}
